body {
    overflow-x: hidden !important;
    width: 100vw;
}

/* navbar */
.navbar {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
}

.nav-heading {
    width: 52vw !important;
}

.active #line {
    background-color: #ab641d;
    transition: width 0.5s;
    margin-top: 3px;
    height: 0.3vh;
    display: flex;
    width: 0vw;
}

.active #line {
    width: 40px;
}

.active {
    color: #ab641d !important;
}

#line {
    background-color: #ab641d;
    width: 0vw;
    transition: width 0.5s;
    height: 0.3vh;
    display: flex;
    margin-top: 3px;
}

.nav-item:hover #line {
    width: 40px;
}

.nav-item:hover a {
    color: #ab641d !important;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item:active {
    background-color: white !important;
}

/* end navbar */
/* cover-heading */
.cover-heading h1 {
    font-size: 70px;
    font-weight: bold;
}

/* end cover-heading */
/* card */
.cards {
    background-color: #ededed;
    margin-top: 13vh !important;
}

.call,
.email,
.offices {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.callContent,
.emailContent,
.officesContent {
    margin-top: 3.5vh;
    text-align: center;
    word-break: break-word;
}

.callContent p,
.emailContent p,
.officesContent p {
    margin-top: 2vh;
}

/* end card */

/* message */
.message {
    background-color: #14171c;
    color: white;
}

.messageContent {
    word-wrap: break-word;
}

.messageContent h2 {
    font-size: 46px;
    font-weight: 600;
    line-height: 8vh;
}

.messageContent p {
    margin-top: 4vh;
    line-height: 4vh;
}

.contactLinks {
    margin-top: 4vh;
    display: flex;
    font-size: larger;
}

.facebookLink,
.twitterLink,
.linkedinLink {
    border-radius: 100%;
    padding: 0.8vw;
    cursor: pointer;
}

.facebookLink {
    background-color: rgb(4, 108, 255);
}

.twitterLink {
    background-color: white;
    color: black;
}

.linkedinLink {
    background-color: rgb(0, 106, 255);
}

.messageInp label {
    font-size: 17px;
    display: block;
}

.messageInp label span {
    color: red;
}

.messageInp input {
    margin-top: 1.5vh;
    height: 6.5vh;
}
.messageInp textarea {
    margin-top: 1.5vh;
}

.messageBtn button {
    background-color: #fcaf3b;
    border: none;
    padding: 2vh;
    font-size: 16px;
    font-weight: bold;
    transition: all .5s;
}

.messageBtn button:hover {
    background-color: #ab641d;
    color: white;
}

/* end message */

/* copyright */
.copyright {
    background-color: black;
    color: white;
    padding-left: 5vw;
    margin-bottom: -3vh;
}

/* end copyright */

@media (max-width: 300px) {
    .cover-heading h1 {
        font-size: 50px;
    }
}