body {
    overflow-x: hidden !important;
    width: 100vw;
}

/* navbar */
.navbar {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
}

.nav-heading {
    width: 52vw !important;
}

.active #line {
    background-color: #ab641d;
    transition: width 0.5s;
    margin-top: 3px;
    height: 0.3vh;
    display: flex;
    width: 0vw;
}

.active #line {
    width: 40px;
}

.active {
    color: #ab641d !important;
}

#line {
    background-color: #ab641d;
    width: 0vw;
    transition: width 0.5s;
    height: 0.3vh;
    display: flex;
    margin-top: 3px;
}

.nav-item:hover #line {
    width: 40px;
}

.nav-item:hover a {
    color: #ab641d !important;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item:active {
    background-color: white !important;
}


/* end navbar */
/* cover-heading */
.cover-heading h1 {
    font-size: 70px;
    font-weight: bold;
}

/* end cover-heading */

/* news cards */
.newsImg1 img {
    width: 100%;
}

.newsImg2 img {
    width: 100%;
}

.row a {
    color: #fcaf3b;
    text-decoration: none;
}

.row h2, .row img {
    cursor: pointer;
}
.row a:hover {
    color: #ab641d;
}
/* end news cards */
/* copyright */
.copyright {
    background-color: black;
    color: white;
    padding-left: 5vw;
    margin-bottom: -3vh;
}

/* end copyright */

@media (max-width: 576px) {
    .mar-5{
        margin-top: 5vh;
    }
}